
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"

        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div
        class="collapse navbar-collapse"
        id="navbarNav"
        mdbCollapse

      >
        <ul class="navbar-nav">

          <li *ngIf="isUsuario"   class="nav-item" (click)="cerrarSesion()">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
              >Cerrar Sesion
              </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div *ngIf="isUsuario; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <app-dashboard></app-dashboard>
</ng-template>
<ng-template #elseBlock>

    <div class="container" style="margin: 100px;">
        
        <img src="./../../../../assets/images/imgLogin.jpg"/>
        
        <form (ngSubmit)="iniciarSesion()">
            <div class="form-group">
            <label for="exampleInputEmail1">Número de cédula</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe tu número de cédula"
            [(ngModel)]="cedula" [ngModelOptions]="{standalone: true}">    
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="****"
            [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            </div>
            
            <button type="submit" class="btn btn-primary" >Iniciar sesión</button>
        </form>
        <br>
        <small id="emailHelp" class="alert alert-primary">{{cedulaMsg}}</small>


    </div>

</ng-template>